[Unit]
Description=Resume SiT5721 calibration capture after restart
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/ve2mrx/project/ubx-data/mbt-ubx-apps/restart-calib.sh

[Install]
WantedBy=default.target
