[Unit]
Description=Resume SiT5721 calibration capture after restart
After=network-online.target restart-sit5721-pull.service
Wants=network-online.target
OnFailure=restart-calib-alert.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=ve2mrx
ExecStart=/home/ve2mrx/project/ubx-data/mbt-ubx-apps/restart-calib.sh

[Install]
WantedBy=multi-user.target
